-
  const itemPresent = [
    {
      'text': '6 фото чехлов под ваше авто',
      'image': '/img/present/pr1.png',
    },
    {
      'text': 'Купон на бесплатную накидку',
      'image': '/img/present/pr2.png',
    },

  ]

