-
  const itemPresent = [
    {
      'text': '6 фото чехлов под ваше авто',
      'image': '/img/present/pr1.png',
    },
    {
      'text': 'Купон на бесплатную накидку',
      'image': '/img/present/pr2.png',
    },

  ]


  const product = [
    {
      'text': 'Органайрер в багажник',
      'image': '../img/product/pr1.jpg',
    },
    {
      'text': 'Накидка органайзер',
      'image': '../img/product/pr2.jpg',
    },
    {
      'text': 'Подушка подголовник',
      'image': '../img/product/pr3.jpg',
    },
    {
      'text': 'Багажная сетка',
      'image': '../img/product/pr4.jpg',
    },
    {
      'text': 'Накидка от ног ребенка',
      'image': '../img/product/pr5.jpg',
    },
    {
      'text': 'Накидка органайзер в багажник',
      'image': '../img/product/pr6.jpg',
    },

  ]

